html {
  font-size: 10px;
}

button {
  background-color: white;
  border: none;
}
.bg-color {
  background: #fff;
}

.bg-color-orange {
  background-color: #ff7f57;
}

.header__inner-content,
.centered-container,
.banner__inner-content,
.our-services__inner-content,
.kpi__inner-content,
.cfa__inner-content {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.header__inner-content {
  padding: 4rem 0 14.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav__list {
  display: flex;
}

.main-nav__item {
  display: flex;
  justify-content: space-between;
  margin: auto 2.5rem auto 2.5rem;
}

.main-nav__link {
  position: relative;
  text-decoration: none;
  color: #13253a;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.2rem;
}
.main-nav__link::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -3px;
  background-color: #ff7f57;
  transition: all 0.5s ease-in;
}

.main-nav__link:hover::after {
  width: 100%;
  color: #ff7f57;
}

/*  Banner */
.bg-color {
  background: #f4f6f7;
  height: 100%;
}
.banner__inner-content {
  display: flex;
  align-items: center;
  padding-bottom: 18.8rem;
}

.banner__image {
  margin-left: 6.5rem;
}

.banner-textual {
  margin-right: 6.5rem;
}

.banner-textual__sub-heading {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: #2557ab;
  margin-bottom: 0.5rem;
}

.banner-textual__heading {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 4.6rem;
  line-height: 6.2rem;
  color: #13253a;
  margin-bottom: 1rem;
}

.banner-textual__paragraph {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.7rem;
  color: #13253a;
  margin-bottom: 2rem;
}

.icon-bg {
  background-color: #ff7f57;
}

.banner-textual__link {
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2.3rem;
  color: #fff;
  margin-bottom: 2rem;
  padding: 1.9rem 4.2rem;
  display: inline-block;
}

.banner-textual__link:hover {
  transform: scale(1.1);
}

/* Our Services */

.our-services__inner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 12rem 0 10rem 0;
}

.our-services__sub-heading {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-bottom: 0.5rem;
  color: #2557ab;
}

.our-services__heading {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 3.8rem;
  line-height: 5.2rem;
  margin-bottom: 3rem;
  color: #13253a;
}

.our-services__layout {
  display: flex;
}

.our-services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1.5rem 0 1.5rem;
}

.our-services__item__image {
  margin-bottom: 3rem;
}

.our-services__item__heading {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.8rem;
  margin-bottom: 0.5rem;
  color: #13253a;
}

.our-services__item__text {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.7rem;
  margin-bottom: 0.5rem;
  color: #13253a;
  text-align: center;
}

/* KPI Layout */
.kpi {
  padding: 6rem 0 6rem 0;
}
.kpi__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.kpi__item {
  margin: 0 11.25rem 0 11.25rem;
}

.kpi__item__unit {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 4.6rem;
  line-height: 6.3rem;
  color: #13253a;
}

.kpi__item__unit {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 4.6rem;
  line-height: 6.3rem;
  color: #13253a;
}

.kpi__item__unit span {
  color: #ff7f57;
}

.kpi__item__text {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #2557ab;
}

/* *About us */

.about-us {
  padding: 10rem 0 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #dce2e6;
  margin-bottom: 10rem;
  max-width: 97rem;
}

.about-us__sub-heading {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;

  color: #2557ab;
}

.about-us__heading {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 5.2rem;
  margin-bottom: 3rem;
  color: #13253a;
}

.about-us__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.about-us__description__what-we-do p:first-child {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2rem;
  line-height: 3rem;
  color: #13253a;
  margin-bottom: 3rem;
}

.about-us__description__what-we-do {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.7rem;
  color: #13253a;
  margin-right: 1.5rem;
  padding-bottom: 4.7rem;
}

.about-us__description__lorem {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.7rem;
  color: #13253a;
  margin-left: 1.5rem;
}
.about-us__description__lorem p:first-child {
  margin-bottom: 3rem;
}
.about-us__list {
  display: flex;
  justify-content: center;
}

.about-us__item {
  display: flex;
  align-items: center;
  margin: 0 3.25rem 0 3.25rem;
}

/* *INFO Section */

.info {
  display: flex;
  justify-content: space-between;
  max-width: 117rem;
}

.info__text-part {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 5rem;
}

.info__image {
  margin-left: 5rem;
}

.info__text-part__heading {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 5.2rem;
  margin-bottom: 2rem;
  color: #13253a;
  width: 75%;
}
.info__text-part__text {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.7rem;
  margin-bottom: 2rem;
  color: #13253a;
}

.info__text-part__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info__text-part__item {
  margin: 1.2rem 0 1.2rem 0;
}

.info__text-part__item span {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.7rem;
  margin-left: 1.5rem;
  color: #13253a;
}

/* *CFA Section */

.cfa__inner-content {
  text-align: center;
  padding: 10rem 0 10rem 0;
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
}

.cfa__sub-heading {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-bottom: 0.5rem;
  color: #fff;
}

.cfa__heading {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 4.6rem;
  line-height: 6.3rem;
  margin-bottom: 1rem;
  color: #fff;
}

.cfa__text {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.7rem;
  margin-bottom: 3rem;
  width: 90%;
  color: #fff;
}

.cfa__link {
  display: inline-block;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.4rem;
  padding: 1.9rem 10.2rem;
  color: #fff;
  background-color: #2557ab;
  box-shadow: 2px 47px 21px -25px rgba(0, 0, 0, 0.44);
}

.cfa__link:hover {
  transform: scale(1.1);
}

/* *Footer */

.copy-right-bg {
  background: #13253a;
}
.footer-bg {
  background: #11364e;
}

.footer {
  padding: 14rem 0 14rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-contact__heading {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 3.8rem;
  line-height: 5.2rem;
  text-align: center;
  color: #fff;
  margin-bottom: 3rem;
}

.footer__copy-right {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.7rem;
  text-align: center;
  color: #fff;
  padding: 1.6rem 0 1.6rem 0;
  background: #13253a;
}

.footer-contact__button {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.3rem;
  padding: 1.9rem 10rem;
  color: #fff;
  background: #ff7f57;
}

.footer-contact__button:hover {
  transform: scale(1.04);
}
.footer__form__item {
  width: 37rem;
  margin-bottom: 4rem;
}
.footer__form__label {
  display: flex;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  font-size: 1.3rem;
  line-height: 1.7rem;
  color: #fff;
  padding-bottom: 1rem;
}

input {
  margin: 0;
  border: none;
}

textarea {
  margin: 0;
  background-color: inherit;
  border: none;
  resize: none;
}

.footer__form__input {
  background-color: inherit;
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  color: #fff;
  border-bottom: 1px solid #fff;
  opacity: 0.25;
}

.footer__form__text-area {
  border-bottom: 1px solid #fff;
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  color: #fff;
  opacity: 0.25;
}
